.view-container {
    padding: 20px;
    margin-top: 16px;
    background-color: #fff;
}

.view-left {
    width: 10%;
    display: inline-block;
    margin-right: 20px;
}

.view-right-container {
    width: 90%;
    margin-left: 20px;
}

.view-right-item {
    padding: 18px 0;
}

.image-avatar {
    width: 120px;
    height: 120px;
    margin: 0 20px;
    display: inline-block;
}

.image-avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-title ul,
.info ul {
    list-style: none;
    padding: 0;
    font-size: 17px;
}

.info-title {
    width: 120px;
}

.edit-btn-in-view {
    border: 2px solid #919191;
    border-radius: 20px;
    opacity: 0.5;
    text-decoration: none;
    color: #303030;
    padding: 8px 18px;
}

.edit-btn-in-view:hover {
    color: #555555;
    border: 2px solid #1cc88a;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    text-decoration: none;
}

.dashboard-card {
    transition: all 0.2s ease-in-out;
}

.dashboard-card:hover {
    transform: scale(1.2);
}

.display_image {
    display: flex;
    align-items: center;
}

.car_image_input {
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 12px;
    display: inline-block;
    text-align: center;
}

.car_image_input > .image_input {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.remove_btn {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

.sort-id-icon {
    cursor: pointer;
    margin-left: 2px;
}

.sort-id-icon > i {
    font-size: 14px;
    margin-right: 3px;
}

.sort-id-icon > i:hover {
    color: #1cc88a !important;
    transition: all 0.2s ease-in-out;
}

.search-container {
    background-color: #f8f9fc;
    display: flex;
    border-radius: 20px;
}

.search-container .search-input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    border-right: 2px solid #ccc;
}

.search-container .select-table-search {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
}

.spinner-border {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
}
