.view-container{
    padding: 20px;
    margin-top: 16px;
}

.view-border{
    margin: 35px 30px;
}

.image{
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.info-title ul, .info ul{
    list-style: none;
    padding: 0;
    font-size: 17px;
}

.info-title{
    width: 120px;
}